<h1>Paralímpicos que ven con la mente</h1><br>
<p>	
Uno de los rincones más interesantes de una Olimpiada de ajedrez es el de los ciegos, que juegan en tableros distintos. Es el deporte más igualitario y el ideal para ellos, ya sean de nacimiento o sobrevenidos. Algunos llegan a un alto nivel y forman la selección mundial que estos días compite en Bakú (Azerbaiyán), donde también hay equipos de discapacitados y sordos.
</p>
<div align="center"><img src="images/noticia1.jpg" width="730" height="460"></div>
<p>Cortesía de Periódico El Tiempo</p>

<h1>800 kilómetros de senderos en silla de ruedas</h1><br>
<p>	
Un joven con parálisis cerebral hace el Camino de Santiago francés para promover la accesibilidad
</p>
<div align="center"><img src="images/noticia2.jpg" width="730" height="420"></div>
<p>Cortesía de Periódico El Tiempo</p>

