<link rel="stylesheet" type="text/css" href="styles/registro.css"/>

<div>
  <form >
    <label for="iden">Identificación</label>
    <input type="text" id="iden" name="identificacion">

    <label for="lname">Nombre</label>
    <input type="text" id="lname" name="lastname">

    <label for="ap">Apellido</label>
    <input type="text" id="ap" name="apellido">

<!-- 
    <label for="country">State</label>
    <select id="country" name="country">
      <option value="australia">Australia</option>
      <option value="canada">Canada</option>
      <option value="usa">USA</option>
     
    </select> -->
     <input type="submit" value="Entrar" class="login-button">

  </form>
</div>