<h1 align="center">Equipo de trabajo</h1>
<div align="center"><img src="images/equipo.jpg" width="730" height="460"></div><br><br>
<h4>Nuestro equipo de trabajo lo constituye personas certificadas en el sector de la belleza integral y que además poseen un gran carisma y compromiso con la iniciativa.</h4><br>


<h1 align="center">Desarrolladores</h1>
<img src="images/miembros.jpg"><br><br>
<h4>Nuestros nombres son: Juan Fernando, Ana María y Alexander. Somos estudiantes de cuarto semestre de Ingeniería de Sistemas de la Universidad EAFIT de Medellín. Apasionados por ayudar a los demás con nuestros conocimientos decidimos iniciar con Estilistas de Corazón, una bonita iniciativa que esperamos se convierta en algo grande e inspirador.</h4>
